.scrollbar-config {
  font-size: 13;
  font-family: Roboto;
  font-color: white;
  container-fill: rgba(220,220,220,0.3);
  block-fill: rgba(239,185,37,0.5);
  handle-fill: rgba(239,185,37,1.0);
}

.timeline-increments-config {
  font-size: 25;
  font-family: Roboto;
  font-color: white;
}

.hypo-canvas-config {
    emperical-box-fill: rgba(203,203,203,0.5);
    relation-box-fill: rgba(203,203,203,0.5);
    box-font-size: 20;
    box-font-color: rgba(0,0,0,0.5);
    box-font-family: Roboto;
}
