/*
    Created on : Jan 6, 2014, 11:30:38 PM
    Author     : Masud Afsar <masud.afsar@live.com>
*/


.randbg {
    background: url('../img/2.jpg') no-repeat center center fixed;
    width: 120%;
    height: 120%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    margin-top: -10px;
    margin-left: -10px;
    overflow: hidden;
}
.randbg.bg1 {
    background-image: url('../img/1.jpg');
}
.randbg.bg2 {
    background-image: url('../img/2.jpg');
}
.randbg.bg3 {
    background-image: url('../img/3.jpg');
}
.randbg.bg4 {
    background-image: url('../img/4.jpg');
}
.randbg.bg5 {
    background-image: url('../img/5.jpg');
}
.randbg.bg6 {
    background-image: url('../img/6.jpg');
}
.randbg.bg7 {
    background-image: url('../img/7.jpg');
}
.randbg.bg8 {
    background-image: url('../img/8.jpg');
}
.randbg.bg9 {
    background-image: url('../img/9.jpg');
}
.randbg.bg0 {
    background-image: url('../img/0.jpg');
}
