html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Roboto;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

footer,
.push {
    height: 141px;
    z-index: 2;
}

.wrapper {
    height: calc(100vh - 141px);
    width: 100%;
    overflow: hidden;
}

.timeline-div {
    height: calc(100vh - 141px);;
    width: 100%;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.timeline-div-top {
    height: 70%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(255,255,255,.5);
}

.timeline-div-bottom {
    height: 30%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(40,40,40,.5);
}


.top-timeline {
    height: calc(100% - 30px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.timeline-increments-div {
    height: 25px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.timeline-increments {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.scrollbar-container {
  height: 40px;
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.bottom-timeline {
  height: calc(30% - 40px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.canvas-wrapper {
  float:left; display:inline;
}

.canvas-wrapper-div {
    height: 100%;
    width: calc(12*100%);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.scrollbar-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#lower {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
    z-index: 1;
}

#about-page-toggle:hover {
    color: rgba(255,255,255,0.8);
}

#about-page-toggle {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255,255,255,1);
}

#about-page-bar {
    height: 35px;
    padding: 10px;
    color: #353535;

}
#about-page-panel {
    display: none;
    height: calc(100vh - 141px);
    background-color: white;
    color:#323232;
    padding: 10px;
    transition: max-height 0.2s ease-out;
}

#side-nav {
    all: unset;
    height: calc(100vh - 141px);
    bottom: 0;
    text-align: left;
    padding: 0;
    font-size: 18px;
    transition: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#side-nav-bar {
    all: unset;
    width: 20px;
    height: 100%;
    float: right;
    color: #353535;
    display: inline;
    position: relative;
}

#side-nav-toggle:hover {
    background-color: rgba(10,75,119,1);
    cursor: pointer;
}

#side-nav-toggle {
    text-decoration: none;
    width: 20px;
    height: 30px;
    background-color: rgba(10,75,119,1);
    margin: 0;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#side-nav-adaptation-panel {
    all: unset;
    height: 100%;
    width: calc(100vw * 0.3);
    background-color: rgba(10,75,119,1);
    color: white;
    padding: 10px;
    display: none;
    margin: 0;
    float: left;
    transition: max-width 0.2s ease-out;
}

#adaptation-items-div {
    width: 100%;
    height: 100%;
    background-color: white;
    color:#323232;
    padding: 10px;
}

.adaptation-items {
	height: 100%;
    width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	list-style:none;
	overflow-x: hidden;
}

ul.adaptation-items li {
    border-bottom-width: 1px;
	border-bottom-style: solid;
	cursor: pointer;
	padding: 5px 0 5px 5px;
	position: relative;
	border-bottom-color: #8c8c8c;
}

.adaptation-item-selected {
    background-color: #589ebb;
	color: white;
}

.adaptation-item-unselected {
    background-color: #456a83;
	color: white;
}
