/*Stylesheet for IHO Dynamic Timeline*/

/* Style the list */

body {
	background-color: #9192ff;
}

#AdaptList {
	background-color: white;
	height:100px;
	width:100px;
	overflow:hidden;
	overflow-y:scroll;
	list-style-type:none;
}

#AdaptList.li{
	border: black;
}

#LogOutButton, #SearchBox {
	display:inline;
}

#LogOutButton {
	float: right;
}

section,tab {
	display:inline-block;
	float:left;
	margin-left: 1em;
	margin-right: 1em;
}

ul.tab {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    width: 80%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    float: left;
    background-color: white;
    display: none;
    width: 80%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}